# Log files
debug.log
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Config files
*.env
.env.*
secrets.json
commands.md

# Security files
*.key
.key.*

# Data folders
# data/
# results/

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db
optuna_study.db
paper_trades.db